.UserListTitle { margin-bottom: 5%; margin-top: 5%; text-align: center; justify-content: center;
   color: rgb(55, 8, 99); font-family: Arial, Helvetica, sans-serif; font-weight: 750;}

.user-list {display: flex; flex-wrap: wrap; justify-content: space-around;margin-top: 10%; margin-bottom: 10%;}

.App {background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuu5Gf82B8Xy0OyNnoEWUqvUiVxVh5MeJjlg&s);

background-repeat: repeat;
height: 1900px;
}


.CardContent { color: rgb(30, 6, 75) !important; font-weight: 570;
   font-family: Arial, Helvetica, sans-serif; font-style: italic;}